@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Background colors */
    --bg-white: #fff;
    --bg-black:#2C2C2C;
    --bg-light-pink: #ff007a;
    --bg-light-gray: #f6f9fe;
    --bg-gradient : linear-gradient(to top , #ff007a 0% , rgba(142 ,0 , 116 , 1)100%);
    --bg-gradient1 : linear-gradient(to right , #ff007a 70% , rgba(142 ,0 , 116 , 1)100%);
    --bg-card-shadow: 0 0.188rem 1.25rem 0px rgba(0,0,0,0.06)
    --bg-light-gray-1:#eee;

    /* text color  */
    --primary-font: "Poppines",sans-serif;
    --text-white: #fff;
    --text-black:#2C2C2C;
    --text-light-black:#444;
    --text-light-pink: #ff007a;
    --text-light-gray:#7e8085;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-gradient);
    border-radius: 10px;
  }
  
body{
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.75rem;
    background-color: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
    position: relative;
}
.navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon{
    color: white;
    width: 1.5em;
}
ul li{
    list-style: none;
}

/* 
====================
Hearder section CSS
====================
*/

.navbar{
    -webkit-transition: .3s;
    transition: .3s;
    background: var(--bg-gradient) !important;
    padding: .5rem 0rem;
}
.navbar .navbar-nav .nav-link{
    color: var(--text-white);
    transition: .3s;
    font-size: 1.1rem;
    position: relative;
}
.navbar .navbar-nav .nav-link::after{
    position: absolute;
    transition: all .3s ease-in-out;
    content: '';
    top: 36px;
    left: 5px;
    height: 3px;
    background-color: var(--bg-white);
    width: 0%;

}
.navbar .navbar-nav .nav-link:hover:after{
    width: 98%;

}
.navbar .navbar-nav .active{
    color: var(--text-white) !important;
}
.navbar-brand img{
    max-width: 60%;
}

/* 
====================
Home section CSS
====================
*/

#home{
    background: url('../images/bg.png') no-repeat top center/cover; 
    height: 800px;
    padding-top: 2rem;
}
.home-text h2{
    color: var(--text-white);
    font-size: 3rem;
    letter-spacing: 0.125rem;
    font-weight: 700;
    padding-top: 1.06rem;
}
.home-text p{
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.06rem 0;
}

.home-download-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 3rem;
}
.home-download-btn a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 1.2rem;
    font-weight: 500;
    margin: .5rem;
    background: var(--bg-gradient);
    padding: .8rem;
    border-radius: 5px;
    transition: all .3s cubic-bezier(0.35, 0.06, 0.09, 0.93);
}
.home-download-btn a:hover{
    transform: translateY(-0.2rem);
}
.home-download-btn img{
    filter: invert();
    margin-right: 5px;
    width: 25px;
}
.home-img{
    transform: rotate(-350deg);
    display: flex;
    align-items: center;
    justify-content: end;
}


.home-img img{
    animation: float 3s linear infinite;
    width: 60%;
}

@keyframes float {
    0%,100%{
        transform: translate(0rem);
    }
    50%{
        transform: translateY(-1rem);
    }
}
.home-img img:hover{
    scale: 1.1;
    transition: all .3s cubic-bezier(0.35, 0.06, 0.09, 0.93);
    animation: none;
}


/* 
====================
Counter section CSS
====================
*/

.counter-item{
    padding: 1.7rem 0;
    text-align: center;
    border: none;
    border-right: 1px solid black;
}
.counter{
    background:linear-gradient(to top , #ff007a 0% , rgba(142 ,0 , 116 , 1)100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2.4rem;
    font-weight: bold;
}
.counter-last{
    border: none;
}
.users{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-light-pink);
}



/* 
====================
Promo section CSS
====================
*/
#promo-section{
    padding: 4em 0;
}
.section-heading h1{
    position: relative;
    color: var(--text-black);
    margin-bottom: 2rem;
}
.section-heading h1::after{
    position: absolute;
    content: '';
    left: 50%;
    bottom: -0.85rem;
    width: 4.563rem;
    height: .125rem;
    background-color: var(--bg-light-pink);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.section-heading h1 span{
    font-size: 2rem;
    font-weight: 400;
}


.promo{
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
    border-radius: 1.5rem;
    padding: 1.8rem 2.5rem 2.5rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}
.promo::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 17px;
    width: 0;
    height: 4px;
    border-radius: 23px;
    background-color: var(--bg-light-pink);
    transition: all .2s ease-in-out;
}
.promo:hover:before{
    width: 92%;
}
.promo:hover{
    box-shadow: 0 2rem 5rem rgb(0 0 0 / 12%);
}

.promo .icon{
    background: url('../images/promo-icon-bg.png') no-repeat  center center /contain;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo .icon span img{
    height: 25px;
    filter: invert();
}
.promo h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 15px;
    color: var(--text-light-pink);
}
.promo p{
    font-size: 15px;
    margin: 10px;
}
.promo-active{
    position: relative;
}
.promo-active::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 17px;
    width: 92%;
    height: 4px;
    border-radius: 23px;
    background-color: var(--bg-light-pink);
}


/* 
====================
Features section CSS
====================
*/
#feature{
    padding: 150px 0;
}
.main-title{
    background: url('../images/feature-bg.png') no-repeat center center / cover;
    height: 800px;
    padding-top: 100px;
}

.main-title h1,.main-title p{
    color: var(--text-white);
}
.main-title h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 01rem;
}

.main-title .feature-img{
    text-align: right;
}
.main-title .feature-img img{
    max-width: 60%;
    animation: float 3s linear infinite;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
.main-title .feature-img img:hover{
    scale: 1.1;
    animation: none;
}

/* features cards design  */
.cards-container{
    margin-top: -30rem;
}
.feature-card{
    background: var(--bg-white);
    margin-top: 1.7rem;
    padding: 2.5rem 2.5rem 1rem 2.2rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 2.5rem 0 rgb(0 0 0 / 10%);
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
}
.feature-card h4{
    font-size: 2rem;
    font-weight: 600;
}
.feature-card-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-white);
    font-size: 20px;
    border-bottom-left-radius: 20px;
    background: var(--bg-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-card-icon img{
    filter: invert();
    width: 23px;
}
.feature-card:hover{
    background: var(--bg-gradient);
    color: var(--text-white);
}


/* 
====================
AppScreanshot section CSS
====================
*/

#app-screanshots h2{
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
    position: relative;
}
#app-screanshots h2::after{
    position: absolute;
    content: '';
    left: 50%;
    bottom: -0.85rem;
    width: 4.563rem;
    height: .225rem;
    background-color: var(--bg-light-pink);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-wraper{
    /* background-color: red; */
    height: 700px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    background: var(--bg-light-pink);
    width: 15px;
    height: 15px;
}




/* 
====================
Pricing section CSS
====================
*/

.singal-price-card{
    box-shadow:  0 1.313rem 2.87rem rgb(45 49 54 / 11%);
    text-align: center;
    padding: 2.5rem 0;
    transition: all .3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .2rem;
    margin-bottom: 2rem;
}

.singal-price-card .month{
    background: var(--bg-gradient);
    color: var(--text-white);
    width: 7rem;
    padding: 0.625rem;
    transform: rotate(-90deg);
    text-align: center;
    position: absolute;
    top: 1rem;
    right: -0.56rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.singal-price-card .month p{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-left: .9rem;
}
.singal-price-card .month::before{
    content: '';
    top: 0.56rem;
    left: -0.93rem;
    background: var(--bg-light-pink);
    position: absolute;
    transform: rotate(45deg);
    padding: 0.938rem;
}
.singal-price-card h4{
    color: var(--text-light-pink);
    font-weight: 600;
    font-size: 1.7rem;
}
.singal-price-card .card-icon{
    width: 5rem;
    height: 4.8rem;
    border-right: dashed 0.313rem var(--bg-light-pink);
    border-bottom:  solid 0.313rem var(--bg-light-pink);
    border-radius: 100%;
    margin: 2rem 0;
} 
.singal-price-card .card-icon .img-circle{
    background: var(--bg-gradient);
    color: var(--text-white);
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    margin: 7px 0 0 9px;
    padding: 1.1rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.singal-price-card .card-icon .img-circle img{
    width: 100%;
    filter: invert();
}
.singal-price-card .dollar{
    margin-bottom: 1rem ;
}
.singal-price-card .dollar h2{
    font-size: 2.8rem;
    font-weight: 700;
}
.singal-price-card .dollar h2 span{
    vertical-align: super;
    font-weight: 600;
    font-size: 1.8rem;
    padding-right: .3rem;
}

.singal-price-card ul li{
    font-size: 1rem;
    font-weight: 500;
    padding: .1rem 0;
}
.price-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
}
.price-btn a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem;
    background: var(--bg-gradient);
    padding: .5rem;
    border-radius: 5px;
    transition: all .3s cubic-bezier(0.35, 0.06, 0.09, 0.93);
}
.active-card{
    background-color: var(--bg-light-pink);
    color: var(--text-white);
}
.active-card > h4{
color: white;
}
.active-card .month::before{
    background: var(--bg-white)
}
.active-card > .card-icon {
    border-right: dashed 0.313rem var(--bg-white);
    border-bottom:  solid 0.313rem var(--bg-white);
}
.singal-price-card:hover{
    transform: translateY(-.4rem);

}

/* 
====================
Contact section CSS
====================
*/
.contact{
    background: var(--bg-light-gray);
}
.contact h4{
    font-size: 1.1rem;
    color: var(--text-light-pink);
    font-weight: 600;
}
.contact h1{
    font-size: 3.2rem;
    font-weight: 900;
    margin: 1rem 0;
}
.contact h5{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact .info-item{
    display: flex;
    align-items: flex-start;
}
.contact .info-item span img{
    width: 22px;
}
.contact .info-item p a{
    text-decoration: none;
    color: var(--text-light-gray);
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1rem;
    transition: all .1s ease-in;
}
.contact .info-item p a:hover{
    color: var(--text-light-pink);
}

.form-group{
    margin-bottom: 1.5rem;
}
 .form-control{
    height: 3.7rem;
    padding: 0.3rem 1.1rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0 .1rem 1.2rem 0 rgb(0 0 0 / 12%);
 }
 .form-control:focus{
    border: none;
    outline: none;
    box-shadow: none;
 }
.textarea{
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.7rem 1.1rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0 .1rem 1.2rem 0 rgb(0 0 0 / 12%);
}
.wrapper{
    padding-bottom: 5rem;
}
.textarea:focus{
    border: none;
    outline: none;
}
.contact-btn span{
    margin-right: .5rem;
}

.footer-section{
    background: var(--bg-gradient);
    color: var(--text-white);
    padding: 2rem 0 0 0;
}